<%= form_for(@task) do |f| %>
   <section class="center form-group">
     <div class="col-xs-10 col-xs-offset-1">
       <%= render 'shared/error_messages', object: f.object %>
     </div>
   </section>
    <section class="center form-group">
      <div class="col-xs-10 col-xs-offset-1">
        <%= f.text_field :name, placeholder: "新しいTodoを入力...", class: 'form-control' %>
      </div>
    </section>
    <section class="form-group">
      <div class="col-xs-3 col-xs-offset-1">
        <%= label_tag "task[deadline]", "締め切り:", style: "margin-top: 14px;" %>
      </div>
      <div class="col-xs-7">
        <%= date_field_tag "task[deadline]", params['deadline'], placeholder: Date.current, class: 'form-control' %>
      </div>
    </section>
    <section>
      <div class="col-xs-10 col-xs-offset-1">
        <%= f.submit "Post", class: "btn btn-primary btn-block" %>
      </div>
    </section>
<% end %>
